<h2>{{title}}</h2>
<p>id:{{id}}</p>
<p>image:{{image}}</p>
<p>title:{{title}}</p>
<img src={{image}} alt={{image}} width="80" height="128">
<form action="/sites/groups/:movieId/add" method="get">
    <button type="submit" class="btn btn-outline-info">Add Movie</button>
</form>