<h2>{{title}}</h2>
<p>Description:{{description}}</p>
<p>Rating:{{rating}}</p>
<p>Image:{{image_url}}</p>
<p>Year:{{year}}</p>
<p>Duration:{{duration}}</p>
<p>Directors:{{directors}}</p>
<p>Actors:{{actors}}</p>
<img src={{image}} alt="Imdb" width="80" height="128">
<form action="/sites//groups/:groupId/:movieId/del" method="post">
    <a class="btn btn-outline-info" href="./{{id}}" role="button">Movie Details</a>
</form>
